{% extends "base.html" %} {% block content %}
<div id="content-wrapper">
  <div id="content">
    <h2>About DN42</h2>
    <p>
      <a href="https://dn42.us">Decentralized network 42</a> (also known as
      dn42) is a decentralized peer-to-peer network built using VPNs and
      software/hardware BGP routers.
    </p>
    <br />

    <h3>Network map</h3>
    <p>
      The network page has a map of DN42 as it is now. The map is not complete
      since it is hard/impossible to get a full picture of the network. The
      nodes and links that are shown on the page are very likely to exist but
      this should not be taken as a guarantee.
    </p>

    <h3>Contact</h3>
    <p>
      This website is currently maintained by NIA-MNT (a.k.a. Niantic Network)
      of DN42. It is forked from <a href="https://fc00.org/">fc00</a>, another
      distributed network.
    </p>
  </div>
</div>
{% endblock %}
