{% extends "base.html" %}

{% block content %}
	<div id="content-wrapper">
		<div id="content">
			<table id="jslicense-labels1" border="1">
				<tr>
					<td><a href="static/jquery-2.0.3.min.js">static/jquery-2.0.3.min.js</a></td>
					<td><a href="magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&dn=expat.txt">Expat</a></td>
					<td><a href="https://raw.githubusercontent.com/jquery/codeorigin.jquery.com/master/cdn/jquery-2.0.3.js">jquery-2.0.3.js</a></td>
				<tr>
				
				<tr>
					<td><a href="static/jquery.autocomplete.min.js">static/jquery.autocomplete.min.js</a></td>
					<td><a href="magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&dn=expat.txt">Expat</a></td>
					<td><a href="https://raw.githubusercontent.com/devbridge/jQuery-Autocomplete/4924da0b519e8408fad10a746d2fe9ccfb859f80/dist/jquery.autocomplete.js">jquery.autocomplete.js</a></td>
				<tr>
				
				<tr>
					<td><a href="static/network.js">static/network.js</a></td>
					<td><a href="magnet:?xt=urn:btih:1f739d935676111cfff4b4693e3816e664797050&dn=gpl-3.0.txt">GNU-GPL-3.0-or-later</a></td>
					<td><a href="static/network.js">static/network.js</a></td>
				<tr>
			</table>
		</div>
	</div>
{% endblock %}
