{% extends "base.html" %} {% block content %}
<div id="content-wrapper">
  <div id="content">
    <h3>{{lookup['aut-num'][0]}}</h3>
    <div class="tit">{{lookup['as-name'][0]}}</div>
    <div>
	    <a href="/as_graph/{{ lookup['aut-num'][0] }}">BGP Map</a><br/>
    {% if 'remarks' in lookup %}
      {% for remarks in lookup['remarks'] %}
      <pre>{{remarks}}</pre>{% if remarks == '\n' %}<br/ >{% endif %}
      {% endfor %}
    {% endif %}
    </div>
    <hr />
    <table style="width: inherit;">
      {% for inetnum in lookup['inetnum'] %}
      <tr>
        <td>{{inetnum.netname}}</td>
        <td>{{inetnum.inum}}</td>
      </tr>
      {% endfor %}
    </table>

    <table style="width: inherit;">
      {% for inetnum6 in lookup['inet6num'] %}
      <tr>
        <td>{{inetnum6.netname}}</td>
        <td>{{inetnum6.inum}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
